---
networks:
  observability:
    name: observability
    driver: bridge

services:
  process-exporter:
    image: {{ prometheus_process_exporter_image }}
    container_name: {{ prometheus_process_exporter_name }}
    volumes:
      - {{ prometheus_process_exporter_path }}:/etc/process-exporter
      - /proc:/host/proc:ro
      - /usr/bin:/host/usr/bin:ro
    command:
      - --config.path=/etc/process-exporter/config.yml
      - --procfs=/host/proc
      - --web.listen-address=:{{ prometheus_process_exporter_port }}
    ports:
      - "{{ prometheus_process_exporter_port }}:9256"
    restart: unless-stopped
    networks:
      - observability
