---
services:
  {{ process_exporter_name }}:
    image: {{ process_exporter_image }}
    container_name: {{ process_exporter_name }}
    volumes:
      - {{ process_exporter_path }}:/etc/process-exporter
      - /proc:/host/proc:ro
      - /usr/bin:/host/usr/bin:ro
    command:
      - --config.path=/etc/process-exporter/config.yml
      - --procfs=/host/proc
      - --web.listen-address=:{{ process_exporter_port }}
    ports:
      - "{{ process_exporter_port }}:9256"
    restart: unless-stopped
    networks:
      - observability

networks:
  observability:
    name: observability
    driver: bridge
