---
apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1
  - name: Alertmanager
    orgId: 1
  - name: Loki
    orgId: 1
  - name: Tempo
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    basicAuth: false
    version: 1
    isDefault: true
    editable: true
    jsonData:
      httpMethod: GET

  - name: Alertmanager
    type: alertmanager
    uid: alertmanager
    access: proxy
    orgId: 1
    url: http://alertmanager:9093
    version: 1
    isDefault: false
    editable: true
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: false

  - name: Loki
    type: loki
    uid: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    version: 1
    isDefault: false
    editable: true

  - name: Tempo
    type: tempo
    uid: tempo
    access: proxy
    orgId: 1
    url: http://tempo:3200
    basicAuth: false
    version: 1
    apiVersion: 1
    isDefault: false
    editable: true
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: prometheus
