# SPDX-License-Identifier: Apache-2.0

---
- name: Install Docker
  ansible.builtin.package:
    name: docker
    state: present
  become: true
  notify:
    - Start Docker

- name: Install Docker Compose
  ansible.builtin.get_url:
    url: "https://github.com/docker/compose/releases/latest/download/docker-compose-{{ ansible_system }}-{{ ansible_machine }}"
    dest: /usr/local/bin/docker-compose
    mode: "u+x,g+x"

- name: Docker Setup Groups
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true

- name: Docker Compose Copy
  ansible.builtin.copy:
    src: docker-compose.yml
    dest: /home/ec2-user/docker-compose.yml
    mode: "0640"

- name: Docker Compose Run
  ansible.builtin.command:
    - docker-compose -f /home/ec2-user/docker-compose.yml up -d
  register: docker_output
  changed_when: docker_output.rc != 0
  args:
    chdir: /home/ec2-user/
