# SPDX-License-Identifier: Apache-2.0
---
services:
  {{ dependency_track_apiserver_name }}:
    image: {{ dependency_track_apiserver_image }}
    container_name: {{ dependency_track_apiserver_name }}
    volumes:
      - "{{ dependency_track_apiserver_volume_name }}:/data"
      - "{{ dependency_track_path }}/application.properties:/data/.dependency-track/application.properties"
    ports:
      - "{{ dependency_track_apiserver_port }}:8080"
    depends_on:
      - {{ dependency_track_database_name }}
    networks:
      - {{ dependency_track_network_name }}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 12288m
        reservations:
          memory: 8192m
      restart_policy:
        condition: on-failure
    environment:
      ALPINE_DATABASE_MODE: external
      ALPINE_DATABASE_URL: jdbc:postgresql://{{ dependency_track_database_name }}:{{ dependency_track_database_port }}/{{ dependency_track_name }}
      ALPINE_DATABASE_DRIVER: org.postgresql.Driver
      ALPINE_DATABASE_USERNAME: admin
      ALPINE_DATABASE_PASSWORD: admin

  {{ dependency_track_frontend_name }}:
    image: {{ dependency_track_frontend_image }}
    container_name: {{ dependency_track_frontend_name }}
    volumes:
      - "{{ dependency_track_path }}/config.json:/opt/owasp/dependency-track-frontend/static/config.json"
    ports:
      - "{{ dependency_track_frontend_port }}:8080"
    depends_on:
      - {{ dependency_track_apiserver_name }}
    networks:
      - {{ dependency_track_network_name }}
    restart: unless-stopped

  {{ dependency_track_database_name }}:
    image: {{ dependency_track_database_image }}
    container_name: {{ dependency_track_database_name }}
    volumes:
      - "{{ dependency_track_database_volume_name }}:/var/lib/postgresql/data"
    ports:
      - "{{ dependency_track_database_port }}:5432"
    networks:
      - {{ dependency_track_network_name }}
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: {{ dependency_track_name }}

networks:
  {{ dependency_track_network_name }}:
    name: {{ dependency_track_network_name }}
    driver: bridge

volumes:
  {{ dependency_track_database_volume_name }}: {}
  {{ dependency_track_apiserver_volume_name }}: {}

