# SPDX-License-Identifier: Apache-2.0
---
services:
  {{ dependency_track_apiserver_name }}:
    image: {{ dependency_track_apiserver_image }}
    container_name: {{ dependency_track_apiserver_name }}
    volumes:
      - "{{ dependency_track_apiserver_volume_name }}:/data"
      # - "{{ dependency_track_path }}/application.properties:/data/.dependency-track/application.properties:ro"
    ports:
      - "{{ dependency_track_apiserver_port }}:8080"
    depends_on:
      - {{ dependency_track_database_name }}
    networks:
      - {{ dependency_track_network_name }}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 12288m
        reservations:
          memory: 8192m
      restart_policy:
        condition: on-failure
    environment:
      # XXX(sentenz) Remove environment variables after mounting `application.properties` correctly
      ALPINE_DATABASE_MODE: {{ dependency_track_alpine_database_mode }}
      ALPINE_DATABASE_URL: {{ dependency_track_alpine_database_url }}
      ALPINE_DATABASE_DRIVER: {{ dependency_track_alpine_database_driver }}
      ALPINE_DATABASE_USERNAME: {{ dependency_track_alpine_database_username }}
      ALPINE_DATABASE_PASSWORD: {{ dependency_track_alpine_database_password }}

  {{ dependency_track_frontend_name }}:
    image: {{ dependency_track_frontend_image }}
    container_name: {{ dependency_track_frontend_name }}
    volumes:
      - "{{ dependency_track_path }}/config.json:/opt/owasp/dependency-track-frontend/static/config.json:ro"
    ports:
      - "{{ dependency_track_frontend_port }}:8080"
    depends_on:
      - {{ dependency_track_apiserver_name }}
    networks:
      - {{ dependency_track_network_name }}
    restart: unless-stopped

  {{ dependency_track_database_name }}:
    image: {{ dependency_track_database_image }}
    container_name: {{ dependency_track_database_name }}
    volumes:
      - "{{ dependency_track_database_volume_name }}:/var/lib/postgresql/data"
    ports:
      - "{{ dependency_track_database_port }}:5432"
    networks:
      - {{ dependency_track_network_name }}
    restart: unless-stopped
    environment:
      POSTGRES_USER: {{ dependency_track_alpine_database_username }}
      POSTGRES_PASSWORD: {{ dependency_track_alpine_database_password }}
      POSTGRES_DB: {{ dependency_track_name }}

networks:
  {{ dependency_track_network_name }}:
    name: {{ dependency_track_network_name }}
    driver: bridge

volumes:
  {{ dependency_track_database_volume_name }}: {}
  {{ dependency_track_apiserver_volume_name }}: {}
