# SPDX-License-Identifier: Apache-2.0
---
# Common
ebs_volume_device: "/dev/sdf"

# Component Analysis (Dependency-Track)
dependency_track_volume_attached: true

dependency_track_apiserver_port_expose: false
dependency_track_apiserver_router: apiserver
dependency_track_apiserver_domain: staging.api.component-analysis.dev
dependency_track_apiserver_labels:
  - traefik.enable=true
  - traefik.http.routers.{{ dependency_track_apiserver_router }}.rule=Host(`{{ dependency_track_apiserver_domain }}`)
  - traefik.http.routers.{{ dependency_track_apiserver_router }}.entrypoints=websecure
  - traefik.http.routers.{{ dependency_track_apiserver_router }}.tls=true

dependency_track_frontend_port_expose: false
dependency_track_frontend_api_base_url: https://staging.api.component-analysis.dev
dependency_track_frontend_router: frontend
dependency_track_frontend_domain: staging.component-analysis.dev
dependency_track_frontend_labels:
  - traefik.enable=true
  - traefik.http.routers.{{ dependency_track_frontend_router }}.rule=Host(`{{ dependency_track_frontend_domain }}`)
  - traefik.http.routers.{{ dependency_track_frontend_router }}.entrypoints=websecure
  - traefik.http.routers.{{ dependency_track_frontend_router }}.tls=true

dependency_track_database_username: "{{ vault_dependency_track_database_username }}"
dependency_track_database_password: "{{ vault_dependency_track_database_password }}"

# Reverse Proxy (Traefik)
traefik_challenge: debug
traefik_acme_email: "{{ vault_traefik_acme_email }}"
traefik_networks: "{{ (dependency_track_networks | default([])) }}"

traefik_tls_private_key: "{{ inventory_dir }}/../../files/certs/{{ inventory_hostname }}.key"
traefik_tls_public_cert: "{{ inventory_dir }}/../../files/certs/{{ inventory_hostname }}.crt"
traefik_challenge_options:
  - "--certificatesresolvers.{{ traefik_certificates_resolver }}.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
