# SPDX-License-Identifier: Apache-2.0
---
tls:
  certificates:
    - certFile: {{ ('/certs/' ~ (traefik_tls_public_cert | basename)) | to_json }}
      keyFile: {{ ('/certs/' ~ (traefik_tls_private_key | basename)) | to_json }}
