---
################################################################
# Traefik Static Configuration
################################################################

################################################################
# EntryPoints configuration
################################################################
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

################################################################
# Traefik logs configuration
################################################################
log:
  level: INFO

################################################################
# Docker configuration backend
################################################################
providers:
  docker:
    exposedByDefault: false
