---
services:
  {{ grafana_loki_name }}:
    image: {{ grafana_loki_image }}
    container_name: {{ grafana_loki_name }}
    user: {{ grafana_ownership_owner }}
    volumes:
      - {{ grafana_loki_path }}:/etc/loki:ro
      - loki_data:/data/loki
    command: 
      - --config.file=/etc/loki/config.yml
    ports:
      - "{{ grafana_loki_port }}:3100"
    restart: always
    networks:
      - observability
    deploy:
      mode: global
    security_opt:
      - no-new-privileges:true

networks:
  observability:
    name: observability
    driver: bridge

volumes:
  loki_data: {}
