---
services:
  "{{ prometheus_node_exporter_name }}":
    image: "{{ prometheus_node_exporter_image }}"
    container_name: "{{ prometheus_node_exporter_name }}"
    volumes:
      - "/proc:/host/proc:ro"
      - "/sys:/host/sys:ro"
      - "/:/host:ro"
      - "/:/rootfs:ro"
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    ports:
      - "{{ prometheus_node_exporter_port }}:9100"
    restart: always
    networks:
      - "{{ prometheus_network }}"
    deploy:
      mode: global
    security_opt:
      - no-new-privileges:true

networks:
  "{{ prometheus_network }}":
    name: "{{ prometheus_network }}"
    driver: bridge
