---
services:
  {{ node_exporter_name }}:
    image: {{ node_exporter_image }}
    container_name: {{ node_exporter_name }}
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
    ports:
      - "{{ node_exporter_port }}:9100"
    restart: always
    networks:
      - observability
    deploy:
      mode: global
    security_opt:
      - no-new-privileges:true

networks:
  observability:
    name: observability
    driver: bridge
