---
services:
  "{{ prometheus_name }}":
    image: "{{ prometheus_image }}"
    container_name: "{{ prometheus_name }}"
    volumes:
      - "{{ prometheus_path }}:/etc/prometheus:ro"
      - "{{ prometheus_volume }}:/data/prometheus"
    command:
    # XXX Auto Reload Config is handled under Feature Flags
    # See https://prometheus.io/docs/prometheus/latest/feature_flags/#auto-reload-config
    # - "--enable-feature=auto-reload-config"
    ports:
      - "{{ prometheus_port }}:9090"
    restart: always
    networks:
      - "{{ prometheus_network }}"
    deploy:
      mode: global
    security_opt:
      - no-new-privileges:true

networks:
  "{{ prometheus_network }}":
    name: "{{ prometheus_network }}"
    driver: bridge

volumes:
  "{{ prometheus_volume }}": {}
