---
services:
  {{ prometheus_name }}:
    image: {{ prometheus_image }}
    container_name: {{ prometheus_name }}
    volumes:
      - {{ prometheus_path }}:/etc/prometheus:ro
      - prometheus_data:/data/prometheus
    ports:
      - "{{ prometheus_port }}:9090"
    restart: always
    networks:
      - observability
    deploy:
      mode: global
    security_opt:
      - no-new-privileges:true

networks:
  observability:
    name: observability
    driver: bridge

volumes:
  prometheus_data: {}
