# SPDX-License-Identifier: Apache-2.0
---
# Observability (Grafana)
grafana_admin_user: "{{ vault_grafana_admin_user }}"
grafana_admin_password: "{{ vault_grafana_admin_password }}"

grafana_domain: observability.localhost
grafana_port_expose: false
grafana_router: grafana
grafana_labels:
  - traefik.enable=true
  - traefik.http.routers.{{ grafana_router }}.rule=Host(`{{ grafana_domain }}`)
  - traefik.http.routers.{{ grafana_router }}.entrypoints=websecure
  - traefik.http.routers.{{ grafana_router }}.tls=true

grafana_networks:
 - observability-network

# Component Analysis (Dependency-Track)
dependency_track_database_username: "{{ vault_dependency_track_database_username }}"
dependency_track_database_password: "{{ vault_dependency_track_database_password }}"

dependency_track_apiserver_domain: api.dependency-track.localhost
dependency_track_apiserver_port_expose: false
dependency_track_apiserver_router: apiserver
dependency_track_apiserver_labels:
  - traefik.enable=true
  - traefik.http.routers.{{ dependency_track_apiserver_router }}.rule=Host(`{{ dependency_track_apiserver_domain }}`)
  - traefik.http.routers.{{ dependency_track_apiserver_router }}.entrypoints=websecure
  - traefik.http.routers.{{ dependency_track_apiserver_router }}.tls=true

dependency_track_frontend_domain: dependency-track.localhost
dependency_track_frontend_api_base_url: https://api.dependency-track.localhost
dependency_track_frontend_port_expose: false
dependency_track_frontend_router: frontend
dependency_track_frontend_labels:
  - traefik.enable=true
  - traefik.http.routers.{{ dependency_track_frontend_router }}.rule=Host(`{{ dependency_track_frontend_domain }}`)
  - traefik.http.routers.{{ dependency_track_frontend_router }}.entrypoints=websecure
  - traefik.http.routers.{{ dependency_track_frontend_router }}.tls=true

dependency_track_networks:
  - dependency-track-network

# Reverse Proxy (Traefik)
traefik_challenge: debug
traefik_acme_email: alexej.kloos@outlook.de
traefik_networks: "{{ (grafana_networks | default([])) + (dependency_track_networks | default([])) }}"
