---
services:
  "{{ grafana_name }}":
    image: "{{ grafana_image }}"
    container_name: "{{ grafana_name }}"
    user: "{{ grafana_ownership_owner }}"
    volumes:
      - "{{ grafana_path }}/grafana.ini:/etc/grafana/grafana.ini:ro"
      - "{{ grafana_path }}/dashboards:/var/lib/grafana/dashboards:ro"
      - "{{ grafana_path }}/provisioning:/etc/grafana/provisioning:ro"
      - "{{ grafana_volume }}:/var/lib/grafana"
{% if grafana_port_expose %}
    ports:
      - "{{ grafana_port }}:3000"
{% endif %}
    networks:
{% for network in grafana_networks %}
      - "{{ network }}"
{% endfor %}
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      mode: global
    security_opt:
      - no-new-privileges:true
    labels:
{% for label in grafana_labels %}
      - "{{ label }}"
{% endfor %}

networks:
{% for network in grafana_networks %}
  {{ network }}:
    name: "{{ network }}"
    driver: bridge
{% endfor %}

volumes:
  "{{ grafana_volume }}": {}
