---
services:
  {{ alertmanager_name }}:
    image: {{ alertmanager_image }}
    container_name: {{ alertmanager_name }}
    volumes:
      - {{ alertmanager_path }}:/etc/alertmanager
    command:
      - --config.file=/etc/alertmanager/config.yml
    ports:
      - "{{ alertmanager_port }}:9093"
    restart: always
    networks:
      - observability
    deploy:
      mode: global
    security_opt:
      - no-new-privileges:true

networks:
  observability:
    name: observability
    driver: bridge
