# SPDX-License-Identifier: Apache-2.0
---
- name: Node Exporter - Restart Docker Compose
  community.docker.docker_compose_v2:
    project_src: "{{ prometheus_node_exporter_path }}"
    files:
      - docker-compose.yml
    state: restarted

- name: Node Exporter - Stop Docker Compose
  community.docker.docker_compose_v2:
    project_src: "{{ prometheus_node_exporter_path }}"
    files:
      - docker-compose.yml
    state: stopped

- name: Node Exporter - Remove Docker Compose
  community.docker.docker_compose_v2:
    project_src: "{{ prometheus_node_exporter_path }}"
    files:
      - docker-compose.yml
    state: absent
