# SPDX-License-Identifier: Apache-2.0
---
# Reverse Proxy
traefik_name: traefik
traefik_path: /etc/ansible_collections/reverse_proxy/traefik
traefik_networks: []

# Reverse Proxy Traefik
traefik_image: traefik:latest
traefik_ports: []
traefik_acme_email: your-email@example.com
traefik_acme_storage: /letsencrypt/acme.json
traefik_certificates_resolver: myresolver
traefik_challenge_dns_provider: cloudflare
traefik_challenge_dns_provider_variables: ""

# TODO Consider using a nested dictionary approach for files
# traefik_files:
#   acme_config: acme.json
#   dynamic_config: dynamic.yml
#   tls_private_key: certs/key.pem
#   tls_public_cert: certs/cert.pem

traefik_acme_config: acme.json
traefik_dynamic_config: dynamic.yml
traefik_tls_private_key: certs/key.pem
traefik_tls_public_cert: certs/cert.pem

# TODO Consider using a nested dictionary approach for paths
# traefik_paths:
#   certs: "{{ traefik_path }}/certs"
#   dynamic_config: /etc/traefik/dynamic/
#   acme_storage: /letsencrypt/acme.json

traefik_certs_path: "{{ traefik_path }}/certs"
traefik_dynamic_config_path: /etc/traefik/dynamic/

# Reverse Proxy Traefik HTTPS Challenge
traefik_challenge:
  description: The type of challenge for ACME certificate validation.
  default: debug
  choices:
    - http
    - dns
    - tls
    - intranet
    - debug

traefik_challenge_http:
  - --entryPoints.web.address=:80
  - --entryPoints.websecure.address=:443
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.httpchallenge=true
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.httpchallenge.entrypoint=web
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.email={{ traefik_acme_email }}
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.storage={{ traefik_acme_storage }}

# FIXME Override `name`, `domain` and `certresolver` without redefining the entire router, then display the result
traefik_challenge_http_router:
  - name: service
    domain: localhost
    certresolver: letsencrypt
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{ name }}.rule=Host(`{{ domain }}`)
      - traefik.http.routers.{{ name }}.entrypoints=websecure
      - traefik.http.routers.{{ name }}.tls=true
      - traefik.http.routers.{{ name }}.tls.certresolver={{ certresolver }}

traefik_challenge_dns:
  - --entryPoints.web.address=:80
  - --entrypoints.websecure.address=:443
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.dnschallenge=true
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.dnschallenge.provider={{ traefik_challenge_dns_provider }}
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.email={{ traefik_acme_email }}
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.storage={{ traefik_acme_storage }}

# FIXME Override `name`, `domain` and `certresolver` without redefining the entire router, then display the result
traefik_challenge_dns_router:
  - name: service
    domain: localhost
    certresolver: letsencrypt
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{ name }}.rule=Host(`{{ domain }}`)
      - traefik.http.routers.{{ name }}.entrypoints=websecure
      - traefik.http.routers.{{ name }}.tls=true
      - traefik.http.routers.{{ name }}.tls.certresolver={{ certresolver }}

traefik_challenge_tls:
  - --entrypoints.websecure.address=:443
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.tlschallenge=true
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.email={{ traefik_acme_email }}
  - --certificatesresolvers.{{ traefik_certificates_resolver }}.acme.storage={{ traefik_acme_storage }}

# FIXME Override `name`, `domain` and `certresolver` without redefining the entire router, then display the result
traefik_challenge_tls_router:
  - name: service
    domain: localhost
    certresolver: letsencrypt
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{ name }}.rule=Host(`{{ domain }}`)
      - traefik.http.routers.{{ name }}.entrypoints=websecure
      - traefik.http.routers.{{ name }}.tls=true
      - traefik.http.routers.{{ name }}.tls.certresolver={{ certresolver }}

traefik_challenge_debug:
  - --entrypoints.web.address=:80
  - --entrypoints.websecure.address=:443
  - --entrypoints.websecure.http.tls=true
  - --entrypoints.web.http.redirections.entryPoint.to=websecure
  - --entrypoints.web.http.redirections.entryPoint.scheme=https
  - --providers.file.directory={{ traefik_dynamic_config_path }}
  - --providers.file.watch=true

# FIXME Override `name` and `domain` without redefining the entire router, then display the result
traefik_challenge_debug_router:
  name: service
  domain: localhost
  labels:
    - "traefik.enable=true"
    - "traefik.http.routers.{{ name }}.rule=Host(`{{ domain }}`)"
    - "traefik.http.routers.{{ name }}.entrypoints=websecure"
    - "traefik.http.routers.{{ name }}.tls=true"

traefik_challenge_options: []
