# SPDX-License-Identifier: Apache-2.0
---
# Component Analysis (Dependency-Track)
dependency_track_database_username: "{{ vault_dependency_track_database_username }}"
dependency_track_database_password: "{{ vault_dependency_track_database_password }}"

dependency_track_apiserver_domain: api.component-analysis.localhost
dependency_track_apiserver_port_expose: false
dependency_track_apiserver_router: apiserver
dependency_track_apiserver_labels:
  - traefik.enable=true
  - traefik.http.routers.{{ dependency_track_apiserver_router }}.rule=Host(`{{ dependency_track_apiserver_domain }}`)
  - traefik.http.routers.{{ dependency_track_apiserver_router }}.entrypoints=websecure
  - traefik.http.routers.{{ dependency_track_apiserver_router }}.tls=true

dependency_track_frontend_domain: component-analysis.localhost
dependency_track_frontend_api_base_url: https://api.component-analysis.localhost
dependency_track_frontend_port_expose: false
dependency_track_frontend_router: frontend
dependency_track_frontend_labels:
  - traefik.enable=true
  - traefik.http.routers.{{ dependency_track_frontend_router }}.rule=Host(`{{ dependency_track_frontend_domain }}`)
  - traefik.http.routers.{{ dependency_track_frontend_router }}.entrypoints=websecure
  - traefik.http.routers.{{ dependency_track_frontend_router }}.tls=true

# Reverse Proxy (Traefik)
traefik_challenge: debug
traefik_acme_email: ""
traefik_networks: "{{ ['observability-network'] + ['dependency-track-network'] }}"

traefik_tls_private_key: "{{ inventory_dir }}/../../files/certs/{{ inventory_hostname }}.key"
traefik_tls_public_cert: "{{ inventory_dir }}/../../files/certs/{{ inventory_hostname }}.crt"
