# SPDX-License-Identifier: Apache-2.0
---
- name: Observability - Setup Common
  hosts: observability
  become: true
  roles:
    - role: sentenz.common.container.docker

- name: Observability - Setup Prometheus/Grafana with Reverse Proxy (Traefik)
  hosts: observability
  become: true
  roles:
    - role: sentenz.observability.prometheus.prometheus
    - role: sentenz.observability.prometheus.alertmanager
    - role: sentenz.observability.grafana.grafana
    - role: sentenz.observability.grafana.loki
    - role: sentenz.reverse_proxy.traefik
    # TODO
    # - role: sentenz.observability.grafana.tempo

- name: Observability - Setup Agents/Collectors in Observability
  hosts: observability
  become: true
  roles:
    - role: sentenz.observability.prometheus.node_exporter
    - role: sentenz.observability.grafana.promtail
    # TODO
    # - role: sentenz.observability.prometheus.blackbox_exporter
    # - role: sentenz.observability.grafana.alloy
