# SPDX-License-Identifier: Apache-2.0

---
- name: APT Uninstall Deprecated
  ansible.builtin.apt:
    name:
      - docker
      - docker-engine
      - docker.io
      - containerd
      - runc
    state: absent
    purge: true
  ignore_errors: true
  become: true

- name: APT Update
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: APT Install packages to allow apt to use a repository over HTTPS
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
  become: true

- name: APT Add Docker's official GPG key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  become: true

- name: APT Add Docker apt repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    filename: docker
  become: true

- name: APT Update the apt package index after adding Docker repo
  ansible.builtin.apt:
    update_cache: true
  become: true

- name: APT Install Docker Engine, CLI, containerd, and Docker Compose plugin
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present
  become: true
  notify: Restart Docker

- name: Add users to the docker group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: docker
    append: true
  loop: "{{ docker_users }}"
  when: docker_users | length > 0
  become: true
